[Unit]
Description=Prometheus exporter for Raspberry Pi metrics
Wants=raspberrypi_exporter.timer

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/raspberrypi_exporter
